.loja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
    gap:25px;

}

.loja-img{
    margin: 20px;
    height: 150px;
    border-radius: 100px;
    float: left;   
}
 
.loja-div{
    box-shadow: 1px 1px 0px rgb(197, 197, 197);
}



.loja-div h2{
    color: aqua;
    margin: 20px;
}
.loja-div p{
    margin-left: 50px;
}

.casa-p{
    background-image: url(../img/gatocaixa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 730px;
    display: block;
}

.casa-p h1{
    font-size: 42px;
    color:beige;
    margin-left: 25%;
    padding-top: 20%;
    letter-spacing: 8px;
}